// ========================================================
// Taco Food Truck Nextflow Workflow Configuration
// ========================================================
// This configuration file defines parameters and resource 
// requirements for the taco food truck workflow.
// 
// You can customize the parameters below to specify how 
// the taco should be made. Modify the protein, tortilla,
// and toppings based on your preferences.
// 
// Parameters:
// - protein: Choose the protein for your taco (e.g., 'steak', 'chicken', 'carnitas', 'sofritas').
// - tortilla: Choose the tortilla type (e.g., 'flour', 'corn').
// - toppings: List of toppings for the taco (e.g., 'lettuce, fajita veggies, tomato salsa, salsa verde, 'guacomole', 'queso').
//
// Process-Specific Configurations:
// - Each process has its own configuration for memory and time, which can be adjusted as needed.
//
// To run the workflow, execute the following command:
//   nextflow run taco_making.nf
// ========================================================

nextflow.enable.dsl = 2

// Define parameters with default values
params.protein = 'carnitas'
params.tortilla = 'corn'
params.toppings_list = 'lettuce, fajita veggies, tomato salsa'

// Help message to be displayed when --help is provided
params.help_message = """
    ============================================================
        NBC Taco Making Nextflow Workflow - Command Line Help   
    ============================================================
    
    This Nextflow workflow simulates the process of making tacos.
    
    Usage:
      nextflow run taco_making.nf
      nextflow run taco_making.nf --help
    
    Parameters:
      --tortilla        Type of taco shell. Default: 'flour'. Options: 'flour', 'corn'.
      --protein         Type of meat for the taco. Default: 'carnitas'. Options: 'steak', 'chicken', 'carnitas', 'sofritas'.
      --toppings_list   List taco toppings. Default: 'lettuce, fajita veggies, tomato salsa'
      
    
    Workflow Steps:
      1. Prepare Taco Shell
      2. Cook Meat
      2. Prepare Toppings
      4. Assemble Taco
    
    Example:
      nextflow run taco_making.nf \
      --tortilla 'corn' \
      --protein 'carnitas' \
      --toppings_list 'lettuce, fajita veggies, tomato salsa'
    
    ========================================================
    """


process {

    withLabel: 'preparing_tortilla' {
        publishDir = [
            path: "./results",
            mode: 'copy',
        ]
    }

    withLabel: 'cooking_protein' {
        publishDir = [
            path: "./results",
            mode: 'copy',
        ]
    }

    withLabel: 'preparing_toppings' {
        publishDir = [
            path: "./results",
            mode: 'copy',
        ]
    }

    withLabel: 'assembling_tacos' {
        publishDir = [
            path: "./results",
            mode: 'copy',
        ]
    }
}